body{
    margin:0px;
    padding:0px;
    font-family: VisbyCF-Medium;
    color:#333333;
    font-size: 16px;
    
}

h1,h2,h3,h4,h5,h6{
    
    margin:0px;
    padding:0px;
}

p{
    color:#7a7a7a;
}
@font-face {
    font-family:VisbyCF-Bold;
    src: url(../fonts/VisbyCF-Bold.otf);
}
@font-face {
    font-family:VisbyCF-Regular;
    src: url(../fonts/VisbyCF-Regular.otf);
}
@font-face {
    font-family:VisbyCF-Thin;
    src: url(../fonts/VisbyCF-Thin.otf);
}
@font-face {
    font-family:VisbyCF-Medium;
    src: url(../fonts/VisbyCF-Medium.otf);
}
@font-face {
    font-family:Montserrat-SemiBold;
    src: url(../fonts/Montserrat-SemiBold.otf);
}

@font-face {
    font-family:Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family:Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family:Montserrat-Light;
    src: url(../fonts/Montserrat-Light_0.otf);
}
a{
    text-decoration: none;
    color:inherit;
}
.landingpage #home{
    font-family: VisbyCF-Bold;
}
.work_page #work{
    font-family: VisbyCF-Bold;
}
.aboutus #about_us{
    font-family: VisbyCF-Bold;
}
.contact_hdr #contactus{
    font-family: VisbyCF-Bold;
}
.subcontainer3{
    overflow-x: hidden;
}
.clients img{
    margin:10px 30px;
}
.img_container{
    width: 25%;
    /* FLOAT: LEFT; */
    display: flex;
    justify-content:center;
    align-items: center;
}
.alore_logo
{
    width: 187px;
    height: 69px;
}

.connected {

    width: 206px;
    height: 119px;


}
.logo1 {
    width: 143px;
    height: 84px;
}
.bold_logo {
    width: 192px;
    height: 54px;
}
.questellar {
    width: 206px;
    height: 102px;

}
.bordo_logo{

    width: 208px;
    height: 75px;
}
.cognihealth_logo{

    width: 95px;
    height: 115px;


}
.omoto_logo {
    width: 211px;
    height: 60px;
  }
.sap_logo{

    width: 140px;
    height: 69px;

}
.cisco_logo{

    width: 169px;
    height: 90px;

}
.flipkart_logo{

    width: 184px;
    height: 122px;

}
.jiyo_logo {

    width: 208px;
    height: 47px;
}

.footer_nav2 {
    float: left;
    width: 50%;
    padding-top: 67px;
    padding-bottom: 67px;
}
.footer_nav2 i {
    float: left;
    margin-left: 25px;
    font-size: 21px;
    width: 42px;
    /* height: 32px; */

    background-color: #313131;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    /* padding: 10px; */

    padding-bottom: 10px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
}
.ion-social-instagram-outline {
    width: 45px !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
    background-color: #FFFFFF !important;
    color: #555 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: #555555 !important;
}
input.parsley-error {
    background-image: url(../images/error.png);
    background-repeat: no-repeat;
    background-position: 98%;
}
.erroricon{
    background-image: url(../images/error.png) !Important;
    background-repeat: no-repeat !important;
    background-position: 98% !Important;
}
.display_block{
    display:block !Important;
}
.flex_container{
    display:flex;
    justify-content: space-between;
}
/* flipkart page */
header{
    z-index:2;
}
.view_button {
    border: 1px solid #838383;
    border-radius: 20px;
    padding: 10px 42px;
    background: #ffffff;
    letter-spacing: 2px;
    font-family: VisbyCF-Medium;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.wrapper{
    background-color:#f5f5f5;
    width:1320px;
    margin:0 auto;
    display: table;
    padding-top: 190px;
     
}
.forwork{
    background-color:#f5f5f5;
}
.section_header{
    font-family:Montserrat-Medium;
    font-size: 1.5rem;
    color:#333333;
    font-weight: normal;
    margin: 0;
}
.client_details1_h2{
    font-family:Montserrat-Medium;
    font-size: 1.5rem;
    color:#333333;
    font-weight: normal;
    margin: 0;
}
.client_details1_para{
    font-family:Montserrat-Regular;
    font-size: 1.125rem;
    color:#4c4c4c;
    line-height: 1;
    
    font-weight: normal;
    margin:0;
    margin-top:20px;
}
/* .section_para{
    font-family:Montserrat-Regular;
    font-size: 1.25rem;
    color:#4c4c4c;
    line-height: 2.4;
    font-weight: normal;
    margin:0;
} */
/*  */
/*contaus page*/
.contactus{
    margin: 0 auto;
    margin-top: 165px;
    width: 990px;
}
.work_with_us_hdr1{
    font-family:VisbyCF-Regular;
    font-size: 3rem;
    color:#000000;
    line-height: 1;
    font-weight: normal;
}
.work_with_us_hdr2{
    font-family:VisbyCF-Regular;
    font-size: 1.875rem;
    color:#000000;
    line-height: 1;
    margin-top:50px;

    font-weight: normal;
}
.input1{
    width:470px;
    height: 60px;
    border-radius: 4px;
    border:1px solid #9299a7;
    color:#000000;
    font-size: 1.125rem;
    background: #ffffff;
    padding-left: 18px;
    box-sizing: border-box;
    outline:none;
}
.row{
    margin-top: 20px;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
}
.contactus_textarea{
    width:100%;
    height: 120px;
    border-radius: 4px;
    border:1px solid #9299a7;
    color:#000000;
    font-size: 1.125rem;
    background: #ffffff;
    padding-left: 18px;
    box-sizing: border-box;
    outline:none;
    resize: none;
    padding-top: 15px;
}
.send_button{
    border: 1px solid #4c4c4c;
    border-radius: 25px;
    padding: 0;
    width: 145px;
    height: 50px;
    background: #ffffff;
    font-family: VisbyCF-Bold;
    color: #4c4c4c;
    letter-spacing: 0.2em;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 50px;
    margin-bottom: 60px;
}
/**/
/*contact_form*/
.contactus_popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 100;
    overflow-y: auto;
    background: rgba(0,0,0,0.5);
    display:none;
}
.contactus_popup_container{
   width:1200px;
    margin:0 auto;
    padding: 125px 110px;
    background: #f5f5f5;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top:30px;
    margin-bottom:30px;
}
.send{
    width: 336px;
    height: 65px;
    -webkit-border-radius: 32px/33px 33px 32px 32px;
    -moz-border-radius: 32px/33px 33px 32px 32px;
    border-radius: 32px/33px 33px 32px 32px;
    background-color: #4c4c4c;
    margin:0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family:Montserrat-Light;
    font-size:1.125rem;
    color:#ffffff;

}
.form_container1{
margin-bottom:50px;
    float: left;
}
.form_container1 label{
    font-family:Montserrat-Light;
    font-size:1rem;
    letter-spacing: 0.1em;
    margin-bottom:15px;
    display:block;
}
.form_container1 input{
    width:470px;
    height:55px;
    border-radius:10px;
    background: #ffffff;
    border:none;
    color:#999999;
    font-family:Montserrat-Light;
    font-size: 1.125rem;
    display:block;
    outline:none;
    padding-left: 25px;
    box-sizing: border-box;
}
.m_right_40{
    margin-right: 35px;
}
.form_container2{
    margin-bottom:50px;

}
.form_container2 label{
    font-family:Montserrat-Light;
    font-size:1rem;
    letter-spacing: 0.1em;
    margin-bottom:15px;
    display:block;
}
.form_container2 textarea{
    width:981px;
    height:232px;
    border-radius:10px;
    background: #ffffff;
    border:none;
    color:#999999;
    font-family:Montserrat-Light;
    font-size: 1.125rem;
    resize: none;
    outline:none;
    padding-left: 25px;
    box-sizing: border-box;

}
.contact_us_hdr {
    font-family: VisbyCF-Bold;
    font-size: 1.5rem;
    color: #4c4c4c;
    letter-spacing: 0.025em;
    margin: 0;
    margin-bottom: 50px;
}
/*menu css*/
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap;
    font-size: 1px;
}

.mobile-nav-toggle-button {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent;
    display: block;
    width: 26px;
    height: 40px;
    padding: 8px 0;
    cursor: pointer;
    border: 0;
    float: right;
    box-sizing: border-box;
    position: relative;
    z-index:2;

}
.mobile-nav-toggle-button .icon-bar {
    transition: all 300ms ease-out;
    display: block;
    height: 2px;
    width: 18px;
    background: #000000;
    position: relative;
    margin: 0 auto;
}
.mobile-nav-toggle-button .icon-bar-2 {
    margin: 4px auto;
}

body.has-mobile-navigation-open:not(.has-lightbox-open) .mobile-nav-toggle-button .icon-bar-1 {
    -moz-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -moz-transform: rotate(45deg) translate(4px, 4px);
    -webkit-transform: rotate(45deg) translate(4px, 4px);
    -o-transform: rotate(45deg) translate(4px, 4px);
    -ms-transform: rotate(45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px);
    background: #ffffff;
}
body.has-mobile-navigation-open:not(.has-lightbox-open) .mobile-nav-toggle-button .icon-bar-2 {
    opacity: 0;
}
body.has-mobile-navigation-open:not(.has-lightbox-open) .mobile-nav-toggle-button .icon-bar-3 {
    -moz-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -moz-transform: rotate(-45deg) translate(4px, -4px);
    -webkit-transform: rotate(-45deg) translate(4px, -4px);
    -o-transform: rotate(-45deg) translate(4px, -4px);
    -ms-transform: rotate(-45deg) translate(4px, -4px);
    transform: rotate(-45deg) translate(4px, -4px);
    background: #ffffff;
}

.overflow_hidden{
    overflow-y:hidden;
}
/**/
/*header*/
#header{
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background: #f5f5f5;
    display: table;
    z-index: 2;
    left:0;

}
.homepage_header #header{
    background: #ffffff;
}
/*for work page*/
.work_page{
    background: #f5f5f5;
}
.work_container{
    width: 1290px;
    margin: 0 auto;
    display: table;
    /*justify-content: space-between;*/
    padding-top: 175px;
}
.work1{
    display: block;
    float: left;
    width: 380px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    padding-top: 45px;
    margin: 0 25px;
    margin-bottom:100px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor:pointer;
}
.work1:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.11), 0 10px 10px rgba(0, 0, 0, 0.11);
}
.client_name{
    font-family:VisbyCF-Bold;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 24px;
    line-height: 1;
    letter-spacing: 0.025em;
    color:#4c4c4c;
}
.work_type{
    font-family:VisbyCF-Regular;
    font-size: 1.125rem;
    letter-spacing: 0.025em;
    margin:0;
    color:#4c4c4c;
    margin-top:20px;
    line-height:1;
}
.work_btn_container button{
    font-family: Montserrat-Regular;
    font-size: 0.875rem;
    width: 226px;
    height: 49px;
    -webkit-border-radius: 24px/25px 25px 24px 24px;
    -moz-border-radius: 24px/25px 25px 24px 24px;
    border-radius: 24px/25px 25px 24px 24px;
    background-color: #4c4c4c;
    letter-spacing: 0.1em;
    background: #f5f5f5;
    margin: 0 auto;
    display: block;
    text-align: center;
    /* justify-content: space-around; */
    margin-bottom: 100px;

}
/*.work1:nth-child(2n){*/
/*margin:0 50px;*/
/*}*/
/*.work1:nth-child(4n){*/
    /*margin:0;*/
/*}*/
/**/
.header_bg{
    /*position: fixed;*/
    /*top:0;*/
    /*bottom: 0%;left:0;*/
    /*width:100%;*/
    /*height:100%;*/

}
.main{
    width:100%;
    height: auto;
}
.content{
    width:80%;
    margin:0 auto;
}

/* header**/

.inner {
    width: 100%;
    float: left;
    /*margin-top: 30px;*/
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
    z-index: 33;
}
.logo {
    width: auto;
    float: left;
}
.logo img {
    width: 120px;
}
#mySidenav {
    float: right;
    display: flex;
    display:-webkit-flex;
    margin: 21px 0;
}
.width_100 {
    width: 270px !important;
}
#mySidenav a {
     padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #5c5c5c;
    letter-spacing: 1px;
}
.closebtn {
    display: none;
}
.menu_button{
    display: none;
}

#mySidenav a:hover {
    color: Black;
}

.active_page{
     font-family:VisbyCF-Bold;
}

/*for footer added by gokul*/
.footer{
    background: #1a1a1a;
    /*height: 100%;*/
    width:100%;
    padding: 100px 0;
}
.footer_container{
   margin:0 215px;
    display: flex;
    justify-content: space-between;
}
.footer_container5{
    margin:0 215px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.footer_container1{
    width:320px;
}
.footer_container2{
    width:170px;
}
.footer_container3{
    width:160px;
}
.footer_container3{
    width:220px;
}
.footer_container1 h4{
    color:#ffffff;
    font-size: 1.125rem;
    line-height: 1.3;
    letter-spacing: 0.05em;
    margin-top: 50px;
    font-family:Montserrat-Regular;
    font-weight:normal;
}
.footer_container2 h3,.footer_container3 h3,.footer_container4 h3{
color:#ffffff;
    font-family:Montserrat-SemiBold;
}
.footer_container2 ul li,.footer_container3 ul li,.footer_container4 ul li{
    color:#cccccc;
    font-family:Montserrat-Regular;
    margin-bottom: 8px;
}
ul
{
    padding:0;
}
li{
    list-style-type: none;
}
.social_icons{
    display: flex;
}
.social_icons a{
    height: 32px;
    width: 32px;
    background: #111111;
    border-radius: 50%;
    margin-right: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social_icons a i{
    color:#ffffff;
    text-align: center;
}
.copyright{
    color:#ffffff;
    opacity: 0.3;
    font-size: 0.875rem;
    font-family:Montserrat-Regular;
}

/**/

/* navbar **/


.menu_button{
    font-size:30px;
    cursor:pointer;
    float:right;
    display: block;

}



.nav_container {
    position: relative;
    z-index: 99;
    padding-right: 138px;
    padding-left: 138px;
    box-sizing: border-box;
}


section{
    width:100%;
    float:left;
}

.page_content1{
    width:60%;
    float:left;
}

.page_content{
    width:40%;
    float:right;
}



.subcontainer1 h1 {
    font-size:4rem;
    letter-spacing:0px;
    margin: 0px 0px 44px 0px;
    font-family: VisbyCF-Bold;
}


button {
    border: 1px solid #838383;
    border-radius: 20px;
    padding: 10px 42px;
    background: #ffffff;
    letter-spacing: 2px;
    font-family: VisbyCF-Medium;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline:none;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
    transition-duration: 0.4s;
}

.flipcart img {
    width:270px;
    float: right;
}

.light{
    
    font-family: VisbyCF-Thin;
    font-weight: normal ;
    /*font-size: 3.75rem;*/
}

/* contact form **/

.contact_form h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1rem;
    margin: 15px 0px 5px 0px;
}

.form_elements input{
    width: 43%;
    height: 50px;
    border: 1px solid #9299a7;
    border-radius: 8px;
    margin: 0px 15px 15px 0px;
    padding: 0px 28px;
    box-sizing: border-box;
    outline:none;
}

::-moz-placeholder {
    opacity: .5;
    color: #000000;
    font-size: 18px;
    margin-right: 9px;
    padding-left: 9px;
}

.about_yourself{
    width:100%;
}

.about_project select {
    width: 43%;
    height: 53px;
    border: 1px solid #9299a7;
    border-radius: 6px;
    margin: 0px 15px 15px 0px;
    padding: 0px 26px;
    font-size: 18px;
    color: #000000;
    box-sizing: border-box;
    outline:none;
}
select{
    background-color: #ffffff;
}
.about_project textarea {
    width: 87.5%;
    border-radius: 7px;
    border: 1px solid #9299a7;
    height: 76px;
    resize: none;
    color: #000000;
    margin-bottom: 16px;
    outline: none;
    padding: 10px 26px;
    box-sizing: border-box;
}

textarea::-webkit-input-placeholder {
color: #fff;
}
.contact_form{
    margin-top:60px;
}




/* about us css **/

.abt_main {
    width: 100%;
    float: left;
    /* margin-top: 60px; */
}

.abt_main h1 {
    float: left;
    font-size: 3.75rem;
    line-height: 1.2;
    width: 780px;
    font-family: VisbyCF-Bold;
}
.abt_main h1 span{
    display: block;
}
.sub_section1{
    margin-top: 50px;
    margin-bottom:50px;
}
.bg_top{
    width: 100%;
    
}
.bg_top img {
    width: 100%;
}

.client_content {
    width: 100%;
    float: left;
}

.projects {
    width: 642px;
    float: left;
    margin-right: 90px;
}
.projects1{
    width: 642px;
    float: left;
    margin-right: 90px;
}

.client_details {
    width:550px;
    float: left;
    margin-top: 50px;
}
.client_details1{
  margin-top:50px;
}

.bg_top2 {
    width:100%;
    float:left;
    margin:0px auto;
}
.bg_top2 img{
    
    width:100%;
}

.Initial_concepts {
    width: 60%;
    float: left;
}
.Spec{
    width: 60%;
    float: left;
}

.innerpage{
    padding-top: 80px;
}

.projects p {
    font-family:Montserrat-Regular;
    font-size: 1.25rem;
    color:#4c4c4c;
    line-height: 1.8;
    font-weight: normal;
    margin:0;
    margin-top: 30px;
}

.projects1 p{
    font-family:VisbyCF-Regular;
    font-size: 1rem;
    color:#333333;
    line-height: 1.25;
    font-weight: normal;
    margin:0;
    margin-top: 20px;
}
.section_header1{
    font-family: VisbyCF-Bold;
    font-size: 1.5rem;
    color: #333333;
    font-weight: normal;
    margin: 0;
}

.more_projects_container{
  width: 100%;
}
.more_projects_container1{
    display: flex;
    display: -webkit-flex;
    width:1320px;
    justify-content: space-between;
}
.more_projects_hdr{
    font-family: VisbyCF-Bold;
    font-size: 3rem;
    color: #333333;
    font-weight: normal;
    margin: 0;
    margin-bottom: 60px;
}
/* work css **/



.tagline h1 {
    bottom: 508px;
    left: 131px;
    font-size: 4rem;
    font-family: VisbyCF-Thin;
    color: #ffffff;
    line-height: 5.6rem;
}

.Dark{
    font-family:VisbyCF-Bold; 
}

.work_main h1 {
    font-size: 4em;
    font-family: VisbyCF-Thin;
    position: relative;
    top: 270px;
    left: 143px;
    color: #ffffff;
}

.work_heading {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 51px;
}

.work_heading h5 {
    font-size: 1em;
    color: #4c4c4c;
    opacity: .5;
    letter-spacing: 1px;
}

.work_box10 img {
    width: 100%;
}


.work_box10 a {
    position: relative;
    bottom: 110px;
    right: -110px;
}

.work_box10 {
    width: 359px;
    float: left;
}

.work_jiyo {
    width: 720px;
    float: left;
}

.work_jiyo img {
    width: 100%;
}

.work_quiz {
    width: 359px;
    float: left;
}

.work_quiz img {
    width: 93%;
}

.work_jiyo a {
    position: relative;
    bottom: 110px;
    left: 288px;
}

.work_quiz a {
    position: relative;
    bottom: 110px;
    left: 105px;
}

.work_btn_container{
    clear: both;
}


/* about us **/

.abt_team {
    width: 100%;
    text-align: center;
    
}

.abt_bg img {
    width: 100%;
}


.text_head {
    font-size: 1.5em;
    text-align: center;
    margin-top: 150PX;
}

.text_head h6 {
    color: #a8acb9;
}

.text_head h1 {
    font-weight: bolder;
}

.text_head h6 {
    margin-bottom: 15px;
}

.abt_photos img {
    width: 100px;
    height:100px;
    display: block;
    margin:0 auto;
    border-radius: 50%;
}


.abt_photos {
    width: 234px;
    float: left;
    padding: 38px 17px;
    margin: 0px auto;
}

.team_name h4 {
    font-size: 1em;
    color: #a8acb9;
}

.team_name a {
    text-decoration: none;
    color: #cdcdcd;
}

.team_name i {
    margin-top: 15px;
}

.fa.fa-linkedin-square {
    font-size: 25px;
}

.abt_services {
    text-align: center;
}

.abt_services {
    text-align: center;
}

.abt_service {
    width: 100%;
    padding: 0px 0px 0px 15px;
}

.abt_box {
    width: 290px;
    float: left;
    text-align: center;
    margin-top: 100px;
    padding: 0px 0px 0px 42px;
}

.abt_box img {
    margin-bottom: 32px;
    width: 150px;
}

.abt_box p {
    width: 100%;
    text-align: center;
    margin: 0px auto;
    padding-top: 26px;
    font-size: 1.1rem;
}

.abt_testmonilas {
    width: 100%;
    text-align: center;
    margin-top: 62px;
}

.testimonial_box {
    width: 290px;
    float: left;
    padding: 0px 0px 0px 60px;
    margin-top: 60px;
}

.testimonial_box img {
    margin-bottom: 13px;
}

.testimonial_box h5 {
    padding-top: 9px;
    color: #a8acb9;
}
.testimonial_box p {
    font-size: 1.1em;
}

.clients {
    width: 940px;
    margin: 0px auto;
    /*padding-top: 60px;*/
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 150px;
}


.abt_clients {
    margin-bottom: 100px;
}

.footer_main {
    width: 100%;
    height: 372px;
    float: left;
    background-color: black;
    margin-top: 100px;
}

.footer_line {
    text-align: center;
    margin-top: 47px;
}

.footer_line p {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

.footer_nav {
    text-align: center;
    margin-top: 100px;
}

.footer_nav a {
    text-decoration: none;
    padding: 0px 19px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.3em;
    color: #ffff;
}

.copyrite {
    width: 100%;
    text-align: center;
    margin-top: 97px;
}

/* responsive design **/
@media(min-width:1366px) and (max-width:1440px){
    .wrapper{
        width:1200px;
        display:block;
    }
    .projects{
        width:600px;
        float: left;
        margin-right: 60px;
    }
    .client_details{
        width: 500px;
        float: left;
        margin-top: 20px
    }
    .client_details1_para {
        margin-top: 15px;
    }
    .client_details1 {
        margin-top: 30px;
    }
.work_container{
    width:1200px;
}
.work1{
    width: 350px;
}
.work1 img{
   width:295px;
}
.inner {
    
       margin-top: 15px;
       margin-bottom: 15px;
    
   }
   .nav_container {
     
       padding-right: 60px;
       padding-left: 60px;
   }
   .footer_container {
       margin: 0 90px;
   }
}
@media(min-width:1280px) and (max-width:1365px){

    .wrapper{
        width:1200px;
        display:block;
    }
    .projects{
        width:600px;
        float: left;
        margin-right: 60px;
    }
    .client_details{
        width: 500px;
        float: left;
        margin-top: 20px
    }
    .client_details1_para {
        margin-top: 15px;
    }
    .client_details1 {
        margin-top: 30px;
    }
    .work_container{
        width:1200px;
    }
    .work1{
         width: 350px;
    }
    .work1 img{
        width:295px;
    }
    .inner {
        
           margin-top: 15px;
           margin-bottom: 15px;
        
       }
       .nav_container {
         
           padding-right: 60px;
           padding-left: 60px;
       }
       .footer_container {
           margin: 0 90px;
       }
}
@media(min-width:1024px) and (max-width:1279px){
    .contactus_popup_container {
        width: 1000px;
        padding: 50px;
           }
    .form_container1 input {
        width: 429px;
        height: 55px;
    }
    .form_container2 textarea {
        width: 900px;
        height: 232px;

    }
    .abt_box {
        width: 212px;
        margin-top: 100px;
        }
    .wrapper{
        width:90%;
        display:block;
    }
    .projects{
        width:60%;
        float: left;
        margin-right: 60px;
    }
    .client_details{
        width:30%;
        float: left;
        margin-top: 20px
    }
    .client_details1_para {
        margin-top: 15px;
    }
    .client_details1 {
        margin-top: 30px;
    }
    .work_container{
        width:1000px;
    }
    .work1{
        padding: 20px;
        box-sizing: border-box;
        padding-top: 35px;
        width:280px;

    }
    .work1 img{
        width: 240px;

    }
    .inner {
     
        margin-top: 15px;
        margin-bottom: 15px;
     
    }
    .nav_container {
      
        padding-right: 60px;
        padding-left: 60px;
    }
    .footer_container {
        margin: 0 90px;
    }
}
@media(min-width:768px) and (max-width:1023px){
    .contactus_popup_container {
        width: 700px;
        padding: 50px;
    }
    .form_container1 input {
        width: 500px;
        height: 55px;
    }
    .form_container2 textarea {
        width: 500px;
        height: 232px;

    }
    .wrapper {
        display: block;
        width: 90%;
        padding-top: 110px;
    }
    .abt_main h1 {
      
        font-size: 2.625rem;
       
        width: 100%;
       
    }
    .sub_section1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .projects p {
        font-family: Montserrat-Regular;
        font-size: 0.875rem;
    }
    .section_header {
       
        font-size: 1.1rem;
    }
    .more_projects_hdr{
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
    /*for contactus page*/
    .contactus{
        margin: 0 auto;
        margin-top: 150px;
        width: 710px;
    }
    .work_with_us_hdr1{
        
        font-size: 3rem;
       
    }
    .work_with_us_hdr2{
      
        font-size: 1.875rem;
        
        margin-top:50px;

    }
    .input1{
        width: 350px;
        height: 60px;
       
        font-size: 1rem;
        
    }
    .inner {
        margin-top: 20px;
        margin-bottom: 20px;
          }
    .contactus_textarea{
        width:100%;
        height: 120px;
        border-radius: 4px;
        font-size: 1rem;
        outline:none;
        resize: none;
        padding-top: 15px;
    }
    .send_button{
        border: 1px solid #4c4c4c;
        border-radius: 25px;
        padding: 0;
        width: 145px;
        height: 50px;
        background: #ffffff;
        font-family: VisbyCF-Bold;
        color: #4c4c4c;
        letter-spacing: 0.2em;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        outline: none;
        text-align: center;
        font-size: 0.875rem;
        margin-top: 50px;
        margin-bottom: 60px;
    }

    /**/

    .work_container{
        width: 660px;
    }
    .work1{
        padding: 20px;
        box-sizing: border-box;
        padding-top: 35px;
        width:280px;

    }
    .work1 img{
        width: 240px;

    }
    .abt_box {
        width: 170px;
       
        margin-top: 50px;
        padding: 0;
    }
    .testimonial_box {
        width: 160px;
        float: left;
        padding: 0px 0px 0px 60px;
        margin-top: 20px;
    }
}
@media(min-width:600px) and (max-width:767px){
    .clients {
        width: 100%;
    }
    .img_container {
        width: 50%;
    }

    .flipcart img{
        width:150px;
    }
    .subcontainer1 h1 {
        font-size: 2rem;
    }
    .form_elements input {
        width: 200px;
        height: 35px;

        border-radius: 5px;

        padding: 0px 10px;

    }
    .about_project select{
        width: 200px;
        height: 35px;

        border-radius: 5px;

        padding: 0px 10px;
    }
    .about_project textarea {
        width: 415px;
    }

    .abt_box img {
        margin-bottom: 32px;
        width: 100px;
    }
    .abt_box {
        width: 170px;
       
        margin-top: 50px;
        padding: 0;
    }
    .testimonial_box {
        width: 160px;
        float: left;
        padding: 0px 0px 0px 60px;
        margin-top: 20px;
    }
    .row {
    margin-top: 20px;
      display: block;
    }
    .contactus{
        width:570px;
    }
    .work_with_us_hdr1 {
       
        font-size: 2rem;
    }
    .work_with_us_hdr2 {
      
        font-size: 1.5rem;
        
        margin-top: 30px;
        
    }
    .input1 {
        font-size:1rem;
        margin-bottom: 15px;
    }
    .contactus_textarea{
        width:470px;
        font-size:1rem;
    }
    .nav_container {
        padding:0;
         width: 90%;
         margin: 0 auto;
         box-sizing: border-box;
     }
    .wrapper {
        display: block;
        width: 90%;
        padding-top: 110px;
    }
    .projects {
        width: 100%;
        float: left;
        margin-right: 0;
    }
    .client_details {
        width: 100%;
        float: left;
        margin-top: 0px;
    }
    .client_details1_h2 {
      
        font-size: 1rem;
       
    }
    .client_details1_para {
      
        font-size: 0.875rem;
        margin-top: 8px;
    }
    .client_details1 {
        margin-top: 30px;
    }
    .projects1 {
        width: 100%;
        }
        .more_projects_hdr {
            font-size: 1.875rem;
            margin-bottom: 30px;
            margin-left: 10px;
        }
    .abt_main h1 {
        font-size: 2.25rem;
         width: 100%;
       
    }
    .sub_section1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .projects p {
       
        font-size: 0.875rem;
    }
    .section_header {
       
        font-size: 1.1rem;
    }
    .work_container{
        width: 580px;
    }
    .work1{
        padding: 20px;
        box-sizing: border-box;
        padding-top: 35px;
        width: 270px;
        margin: 0 10px;
        margin-bottom: 80px;

    }
    .work1 img{
        width: 225px;

    }
    .client_name{
        font-size: 1.25rem;
        margin-top: 15px;

    }
    .work_type {
        font-size: 1rem;
        margin-top: 10px;
      }
}
@media(min-width:425px) and (max-width:599px){
    .clients {
        width: 100%;
    }
    .img_container {
        width: 100%;
    }

    .form_elements input {
        width: 280px;
        height: 35px;
        border-radius: 5px;
        padding: 0px 10px;

    }
    .about_project select{
        width: 280px;
        height: 35px;
        border-radius: 5px;
        padding: 0px 10px;
    }
    .about_project textarea {
        width: 272px;
    }

    .flipcart img {
        width: 150px;
        float: left;
    }
    .page_content {
        width: 100%;
        float: left;
    }
    .page_content1 {
        width: 100%;
        float: left;
    }
    .subcontainer1 h1 {
        font-size: 2rem;

    }
    .text_head h1 {
      
        font-size: 1rem;
    }
    .row {
        margin-top: 20px;
          display: block;
        }
        .contactus{
            width: 100%;
            padding-left: 25px;
            box-sizing: border-box;
        }
        .input1 {
            font-size:1rem;
            margin-bottom: 15px;
            width: 380px;
            height: 40px;
        }
        .contactus_textarea{
            width: 380px;
            font-size:1rem;
        }
        .work_with_us_hdr1 {
           
            font-size: 2rem;
        }
        .work_with_us_hdr2 {
          
            font-size: 1.5rem;
            
            margin-top: 30px;
            
        }
        .input1 {
            font-size:1rem;
            margin-bottom: 15px;
            width: 380px;
            height: 40px;
        }
        .contactus_textarea{
            width: 380px;
            font-size:1rem;
        }
    .nav_container {
        padding:0;
         width: 90%;
         margin: 0 auto;
         box-sizing: border-box;
     }
    .wrapper {
        display: block;
        width: 90%;
        padding-top: 110px;
    }
    .projects {
        width: 100%;
        float: left;
        margin-right: 0;
    }
    .client_details {
        width: 100%;
        float: left;
        margin-top: 0px;
    }
    .client_details1_h2 {
      
        font-size: 1rem;
       
    }
    .client_details1_para {
      
        font-size: 0.875rem;
        margin-top: 8px;
    }
    .client_details1 {
        margin-top: 30px;
    }
    .projects1 {
        width: 100%;
        }
        .more_projects_hdr {
            font-size: 1.75rem;
            margin-bottom: 30px;
            margin-left: 10px;
        }
    .abt_main h1 {
        font-size: 2rem;
         width: 100%;
       
    }
    .sub_section1 {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .projects p {
       
        font-size: 0.875rem;
    }
    .section_header {
       
        font-size: 1.1rem;
    }
    .work_container{
        width: 100%;
    }
    .work1{
        padding: 20px;
        box-sizing: border-box;
        padding-top: 35px;
        width: 270px;
        margin: 0 auto;
        margin-bottom: 80px;
        float: none;

    }
    .work1 img{
        width: 225px;

    }
    .client_name{
        font-size: 1.25rem;
        margin-top: 15px;

    }
    .work_type {
        font-size: 1rem;
        margin-top: 10px;
    }
    .inner {
        
          margin-top: 15px;
          margin-bottom: 12px;
          
      }
      .testimonial_box{
        font-size:0.875rem;
    }
}


@media (max-width: 424px){
    .clients {
        width: 100%;
    }
    .img_container {
        width: 100%;
    }
    .footer_container2 ul,.footer_container3 ul,.footer_container4 ul{
        display:none;
    }

    .header1 {

        background-size: 100% 77%;
        height: 400px;
        margin-top: 50px;

    }
    .testimonial_box{
        font-size:0.875rem;
    }
    .contactus{
        width: 100%;
        padding-left: 25px;
        box-sizing: border-box;
        margin-top: 100px;
    }
    .input1 {
        font-size: 0.875rem;
        margin-bottom: 15px;
        width: 280px;
        height: 40px;
    }
    .contactus_textarea{
        width: 280px;
        font-size: 0.875rem;
    }
    .row {
        margin-top: 20px;
          display: block;
        }
        
        .work_with_us_hdr1 {
            font-size: 1.5rem;
        }
        .work_with_us_hdr2 {
          
            font-size: 1.25rem;
            
            margin-top: 30px;
            
        }
        .send_button {
          
            width: 130px;
            height: 37px;
           
            font-size: 0.875rem;
            margin-top: 25px;
            margin-bottom: 40px;
        }
        .inner {
          
            margin-top: 15px;
            margin-bottom: 0px;
            
        }
    .view_button {
      
        padding: 7px 25px;
        font-size: 0.75rem;
        
    }
    .nav_container {
        padding:0;
         width: 90%;
         margin: 0 auto;
         box-sizing: border-box;
     }
    .wrapper {
        display: block;
        width: 90%;
        padding-top: 110px;
    }
    .projects {
        width: 100%;
        float: left;
        margin-right: 0;
    }
    .client_details {
        width: 100%;
        float: left;
        margin-top: 0px;
    }
    .client_details1_h2 {
      
        font-size: 1rem;
       
    }
    .client_details1_para {
      
        font-size: 0.875rem;
        margin-top: 8px;
    }
    .client_details1 {
        margin-top: 30px;
    }
    .projects1 {
        width: 100%;
        }
        .more_projects_hdr {
            font-size: 1.5rem;
            margin-bottom: 30px;
            margin-left: 10px;
        }
    .abt_main h1 {
        font-size: 2rem;
         width: 100%;
       
    }
    .sub_section1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .projects p {
       
        font-size: 0.875rem;
    }
    .section_header {
       
        font-size: 1.1rem;
    }
    .about_project textarea {
        width: 250px;
        height: 50px;
        box-sizing: border-box;
    }
    .footer_container1 {
        width: 100%;
    }
    .footer {
        background: #1a1a1a;
        /* height: 100%; */
        width: 100%;
        padding: 50px 15px;
        box-sizing: border-box;
    }
    .main header{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        position: fixed;
        background: #ffffff;
        margin: 0;
    }
    /*for work page*/
    .work_container{
        width: 100%;
    }
    .work1{
        padding: 20px;
        box-sizing: border-box;
        padding-top: 35px;
        width: 270px;
        margin: 0 auto;
        margin-bottom: 80px;
        float: none;

    }
    .work1 img{
        width: 225px;

    }
    .client_name{
        font-size: 1.25rem;
        margin-top: 15px;

    }
    .work_type {
        font-size: 1rem;
        margin-top: 10px;
    }




    /**/
    body{
        background-color:unset;
    }
    
    .content {
    
    margin: 10px auto;
}

    
    .img-responsive {
    width: 100px;
}
   .nav_container {
       left: 0;
       top: 0;
}
    


.inner {
    margin-top: 15px;
    margin-bottom: 12px;
}
    
section {
    width: 100%;
    float: left;

    margin-bottom: 0px;
    padding-top: 0px;

}

.page_content {
    width: 300px;
    float: left;
}

.flipcart img {
    width: 100px;
    float: left;
    margin-bottom: 20px;
}
    
    .subcontainer1 h1{
        font-size: 1.65rem;
        width: 100%;
        margin: 0px 0px 15px 0px;
        line-height: 1.31;
    }
    
    .button{

	width: 100%;
	padding: 11px 0px;
}
    .page_content1 {
    width: 100%;
    float: left;
}
    .about_project select {
        width: 250px;
        height: 30px;
        padding: 0px 15px;
        font-size: 0.875rem;
    }
    
    h3 {
    font-size: 1em;
    margin: 8px 0px 24px 0px;
}

.contact_form h1 {
    font-size: 2em;

}

h3  {
    font-size: 1rem;
    margin: 3px 0px 11px 0px;
}
.footer_container1 img{
    display: none;
}

.form_elements input {
    width: 250px;
    height: 30px;
    padding: 0px 15px;
    font-size: 0.875rem;
}
    .subcontainer1 img {
    width: 50px;
}
      /* innerpage **/
    .bg_top {
    width: 100%;

}
  

 .abt_main h1 {
    font-size: 2rem;
    width: 100%;
}

    
    .bg_top {
    width: 270px;
    
}

.projects {
    width: 100%;
    float: left;
}

.cliet_details {
    width: 100%;
    float: left;
    margin-top: 50px;
}
.cliet_details1 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.Spec {
    width: 100%;
    float: left;
}

.bg_top2 {
    width: 100%;
    float: left;
    margin: 0px auto;
}

.Initial_concepts {
    width: 100%;
    float: left;
}


.bg_top2 img {
    width: 270px;
}
    .innerpage{
        padding-top: 30px;
}
    
    
    
.abt_bg {
    width: 100%;
    margin: 0px auto;
}



.abt_bg img {
    width: 100%;
    margin-top: 100px;
}

.abt_service {
    width: 100%;
    padding: 0;
}

.abt_box {
    width: 100%;
text-align: center;
margin-top: 50px;
padding:0px;
}

.abt_photos {
    width: 100%;
    padding: 38px 0px;
}

.testimonial_box {
    width: 100%;
}

    .clients {
    width: 100%;
}
    

    
    .abt_box p {
    width: 100%;
}

.text_head {
    font-size: 1.3em;
    margin-top: -20px;
}

    .text_head h1 {
    font-weight: bolder;
    font-size: 1em;
}
    .text_head h6 {
    margin-bottom: 0px;
}

.footer_nav a {
    text-decoration: none;
    padding: 0px 8px;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.3em;
    color: #ffff;
    line-height: 3pc;
}

.footer_nav {
    margin-top: 50px;
}
    .footer_main {
    margin-top: -92px;
}

.copyrite{
	margin-top:50px;
}

.testimonial_box{
	
	padding:0px;
}

.abt_box img {
    margin-top: -10px;
    width: 90px;
}
.abt_box h2{
font-size:1rem;
}
.abt_box p{
    font-size:0.875rem;
}
    .abt_box p {
    width: 100%;
}

    .work_bg {
    width: 100%;
    margin-top: 90px;
}

.work_bg img {
    width: 100%;
}

.work_heading {
    margin-bottom: 0px;
    margin-top: 0px;
}

.work_box10 {
    width: 252px;
    float: left;
}

.work_box10 a {
    position: relative;
    bottom: 82px;
    right: -66px;
}

.work_jiyo {
    width: 264px;
    float: left;
    margin: 0px 0px 60px 0px;
}

.work_quiz {
    width: 290px;
    float: left;
}

.work_quiz a {
    position: relative;
    bottom: 92px;
    left: 74px;
}


    
}


    /**/
    /*body{*/
        /*background-color: unset;*/
    /*}*/
    /**/
    /*.content {*/
    /**/
    /*margin: 10px auto;*/
/*}*/
    /**/
    /*.intialpage{*/
        /**/
        /*margin-top: 111px;*/
    /*}*/
    /**/
    /**/
/*.img-responsive {*/
    /*width: 100px;*/
/*}*/
    /*.nav_container {*/
    /*left: 36px;*/
/*} */
    /**/
/*section {*/
    /*width: 100%;*/
    /*float: left;*/
    /*margin-top: 35px;*/
    /*margin-bottom: 0px;*/
    /*padding-top: 0px;*/
    /*padding-bottom: 20px;*/
/*}*/

/*.page_content {*/
    /*width: 400px;*/
    /*float: left;*/
/*}*/

/*.flipcart img {*/
    /*width: 250px;*/
    /*float: left;*/
    /*margin-bottom: 20px;*/
/*}*/
    /**/
    /*.subcontainer1 h1{*/
        /**/
        /*font-size: 2em;*/
        /*width: 100%;*/
        /*margin: 0px 0px 15px 0px;*/
        /*line-height: 42px;*/
    /*}*/
    /**/
    /*.button{*/

	/*width: 100%;*/
	/*padding: 11px 0px;*/
/*}*/
    /*.page_content1 {*/
    /*width: 100%;*/
    /*float: left;*/
/*}*/
    /*.about_project select {*/
    /*width: 100%;*/
    /*}*/
    /**/
    /*h3 {*/
    /*font-size: 1em;*/
    /*margin: 8px 0px 24px 0px;*/
/*}*/

/*.contact_form h1 {*/
    /*font-size: 2em;*/

/*}*/

/*h3 {*/
    /*font-size: 1em;*/
    /*margin: 13px 0px 24px 0px;*/
/*}*/

/*.form_elements input {*/
    /*width: 94%;*/
    /*height: 42px;*/
    /*border: 1px solid gray;*/
    /*border-radius: 8px;*/
    /*margin: 0px 13px 21px 0px;*/
    /*padding: 0px 10px;*/
/*}*/
    /*.subcontainer1 img {*/
    /*width: 50px;*/
/*}*/

    /*!* innerpage **!*/
    /**/
    /**/
    /*.abt_main h1 {*/
    /*font-size: 2rem;*/
    /*width: 100%;*/
/*}*/

    /*.bg_top {*/
    /*width: 100%;*/
    /*height: 150px;*/
    /*background-color: #f2f2f2;*/
/*}*/

/*.bg_top {*/
    /*width: 350px;*/
    /**/
/*}*/


/*.projects {*/
    /*width: 100%;*/
    /*float: left;*/
/*}*/

/*.cliet_details {*/
    /*width: 100%;*/
    /*float: left;*/
    /*margin-top: 50px;*/
/*}*/
/*.cliet_details1 {*/
    /*width: 100%;*/
    /*float: left;*/
    /*margin-left: 0px;*/
/*}*/

/*.Spec {*/
    /*width: 100%;*/
    /*float: left;*/
/*}*/

/*.bg_top2 {*/
    /*width: 100%;*/
    /*float: left;*/
    /*margin: 0px auto;*/
/*}*/

/*.Initial_concepts {*/
    /*width: 100%;*/
    /*float: left;*/
/*}*/


/*.bg_top2 img {*/
    /*width: 350px;*/
/*}*/
    /*.innerpage{*/
    /*padding-top: 1px;*/
/*}*/
    /**/
    /**/
/*.abt_bg {*/
    /*width: 100%;*/
    /*margin: 0px auto;*/
/*}*/



/*.abt_bg img {*/
    /*width: 100%;*/
    /*margin-top: 132px;*/
/*}*/

/*.abt_service {*/
    /*width: 100%;*/
    /*padding: 0px 0px 0px 0px;*/
/*}*/

/*.abt_box {*/
    /*width: 100%;*/
/*text-align: center;*/
/*margin-top: 50px;*/
/*padding:0px;*/
/*}*/

/*.abt_photos {*/
    /*width: 270px;*/
    /*float: none;*/
    /*padding: 38px 0px;*/
    /*margin: 0px auto;*/
/*}*/

/*.testimonial_box {*/
    /*width: 100%;*/
/*}*/

/*.clients img {*/
    /*width: 36%;*/
    /*float: left;*/
/*}*/

/*.text_head {*/
    /*font-size: 1.3em;*/
    /*margin-top: 0px;*/
/*}*/

/*.footer_nav a {*/
    /*text-decoration: none;*/
    /*padding: 0px 8px;*/
    /*letter-spacing: 2px;*/
    /*font-weight: 700;*/
    /*font-size: 1.3em;*/
    /*color: #ffff;*/
    /*line-height: 3pc;*/
/*}*/

/* .footer_nav {
    margin-top: 50px;
}

.copyrite{
	margin-top:50px;
}

.testimonial_box{

	padding:0px;
}
.abt_box img {
    margin-top: 30px;
} */
  


/* @media  (min-width :481px) and (max-width: 768px) {

    body{
        background: none;
    }

    .content {

    margin: 10px auto;
}
    .img-responsive {
    width: 100px;
}
    inner {
    margin-top: 5px;
}
    .nav_container {
    left: 47px;
}
    .intialpage{

        margin-top: 120px;
    }

section {
    width: 100%;
    float: left;
    margin-top: 35px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

.page_content {
    width: 400px;
    float: left;
}

.flipcart img {
    width: 300px;
    float: left;
    margin-bottom: 20px;
}

    .subcontainer1 h1 {
    font-size: 3rem;
    width: 100%;
    margin: 0px 0px 15px 0px;
    line-height: 55px;
}
    .button{

	width: 100%;
	padding: 11px 0px;
}
    .page_content1 {
    width: 100%;
    float: left;
}
    .about_project select {
    width: 100%;
    }

    h3 {
    font-size: 1em;
    margin: 8px 0px 24px 0px;
}

.contact_form h1 {
    font-size: 2em;

}

h3 {
    font-size: 1em;
    margin: 13px 0px 24px 0px;
}

.form_elements input {
    width: 94%;
    height: 42px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 0px 13px 21px 0px;
    padding: 0px 10px;
}

    .subcontainer1 img {
    width: 50px;
}

    .bg_top {
    width: 100%;

}


 .abt_main h1 {
    font-size: 2rem;
    width: 100%;
}


    .bg_top {
    width: 420px;

}


.projects {
    width: 100%;
    float: left;
}

.cliet_details {
    width: 100%;
    float: left;
    margin-top: 50px;
}
.cliet_details1 {
    width: 100%;
    float: left;
    margin-left: 0px;
}

.Spec {
    width: 100%;
    float: left;
}

.bg_top2 {
    width: 100%;
    float: left;
    margin: 0px auto;
}

.Initial_concepts {
    width: 100%;
    float: left;
}


.bg_top2 img {
    width: 420px;
}
    .innerpage{
    padding-top: 1px;
}

    .text_head {
    margin-top: 0px;
}
    .abt_photos {
    width: 176px;
    float: none;
    padding: 38px 17px;
    margin: 0px auto;
}




} */
@media  (max-width: 767px) {
    .logo img {
        width: 75px;
    }
    .flex_container{
        display:block;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        /* top: 0; */
        right: 0;
        background-color: #000;
        overflow-x: hidden;
        transition: 0.5s;
        top: 0;
        display: block;
        padding-top: 60px;
        margin: 0;
    }
    #mySidenav {
       display: block;
        margin: 0;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 1rem;
        color: #b1b1b1 !important;
        display: block;
        transition: 0.3s;
    }
    #mySidenav a:hover {
        color: white !important;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}
@media  (min-width :768px) and (max-width: 1023px) {
    
    content {
    width: 90%;
    margin: 0px auto;
}
    
    #mySidenav a {
        padding: 8px 8px 8px 13px;
    }

.flipcart img {
    width: 250px;
    float: right;
}

.subcontainer1 h1 {
    font-size: 2rem;
    letter-spacing: 0px;
    margin: 0px 0px 44px 0px;
    font-family: VisbyCF-Bold;
}

.about_project select {
    width: 350;
    height: 40px;
  
    padding: 0px 26px;
    font-size: 18px;
    
}

.form_elements input {
    width: 43%;
    height: 50px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 0px 5px 15px 0px;
    padding: 0px 18px;
}
   
    #mySidenav a {
        padding: 8px 8px 8px 13px;
}
    .intialpage {
    margin-top: 140px;
}



.flipcart img {
    width: 220px;
    float: right;
}

.nav_container {
	width: 90%;
    margin: 0 auto;
    padding: 0;
}
}

@media (max-width:1024px){
    .footer_container {
       max-width: 500px;
        margin: 0 auto;
        display: block;
        justify-content: space-between;
    }
    .footer_container5 {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 40px;
        display: block;

    }
    .footer_container1,.footer_container2,.footer_container3,.footer_container4 {

        margin-bottom: 50px;
    }
    .copyright{

        text-align: center;
        margin-top: 15px;
    }
    .footer_container1 h4 {
       
        font-size:0.875rem !important;
    }
    .footer_container2 h3, .footer_container3 h3, .footer_container4 h3 {
        font-size:0.875rem !important;
        
    }
    .footer_container2 ul li, .footer_container3 ul li, .footer_container4 ul li{
        font-size:0.875rem !important;
    }
}




@media(min-width:768px){
    .mobile-nav-toggle-button{
        display: none;
    }
    .display_toggle_inverse{
        display:block;
    }
    .display_toggle{
        display:none;
    }
}

@media(max-width:768px){

    .display_toggle_inverse{
        display:none;
    }
    .display_toggle{
        display:block;
    }
}

